@page
@model FrontEnd.Pages.ConsultarDatosMetModel

@{
    ViewData["Title"] = "Consultar Datos Meteorologicos";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="" style="font-weight: 300">@ViewData["Title"]</h1>
    <p class="lead">Consulta los Datos Meteorologicos</p>
</div>

<form method="POST" action="" style="display: grid; gap: 10px; max-width: 500px; margin: auto">
    <p><label>INGRESE EL ID DEL DATO</label> <input type="text"  asp-for="@Model.dato.Id" id="codigoestacion" class="form-control" ></p>
    <input type="submit"class="w-100 btn btn-lg btn-outline-primary" value="Consultar">
     
    
    
    
    
    <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./EstMet">Regresar</a>
</form>
<h1>PLUVIOSIDAD</h1>
<h1>@Model.Pluviosidad
<h1>HUMEDAD</h1>
<h1>@Model.Humedad</h1>
<h1>TEMPERATURA</h1>
<h1>@Model.Temperatura</h1>
<h1>RADIACION</h1>
<h1>@Model.Radiacion</h1>