@page
@model FrontEnd.Pages.EditEstMetModel
@{
    ViewData["Title"] = "Editar Estación Meteorológica";
}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="" style="font-weight: 300">@ViewData["Title"]</h1>
    <p class="lead">Actualiza los datos de la Estación</p>
</div>

<form method="POST" action="" style="display: grid; gap: 10px; max-width: 500px; margin: auto">
    <p>
        <label>Código</label>
        <input type="text" asp-for="@Model.estacion.Codigo" id="estacionCodigo" class="form-control">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" asp-for="@Model.estacion.Municipio" id="estacionMunicipio" class="form-control">
    </p>
    <p>
        <label>Latitud</label>
        <input type="text" asp-for="@Model.estacion.Latitud" id="estacionLatitud" class="form-control">
    </p>
    <p>
        <label>Longitud</label>
        <input type="text" asp-for="@Model.estacion.Longitud" id="estacionLongitud" class="form-control">
    </p>
    <p>
        <label>Fecha de montaje</label>
        <input type="datetime-local" asp-for="@Model.estacion.FechaMontaje" id="estacionFecha" class="form-control">
    </p>
    <p><label>Tecnico de Mantenimiento</label><input asp-for="@Model.tecnico.Identificacion" placeholder="Identificación" class="form-control"></p>

    <input type="submit" class="w-100 btn btn-lg btn-outline-primary" value="Actualizar">
    <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./EstMet">Regresar</a>
</form>




